<div class="modal modal-expenses fade" id="public-trip-modal" tabindex="-1" role="dialog"
     aria-labelledby="public-trip-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" ng-click="publicTrip.closePublicTripModal()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-md-12">
                    <div class="modal-upload-header modal-upload-header--center modal-upload-header--form-margin">
                        <h3 class="modal-upload-header__title">Reportar Viaje y hospedaje</h3>
                    </div>
                </div>
                <div class="row" ng-form="publicTrip.publicTripForm">
                    <div class="col-md-12">
                        <p class="modal-upload-info__text modal-upload-info__text--margin">
                            Detalles del Viaje Público
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div action="" class="form-body form-container">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle"
                                              ng-if="publicTrip.publicTripForm.vehicleType.$error.required && publicTrip.publicTripForm.vehicleType.$dirty"></span>
                                        <label class="form-body__label" for="public-vehicle-type">Tipo Vehículo</label>

                                        <select class="form-body__select form-control"
                                                ng-model="publicTrip.context.publicTripItem.vehicleType"
                                                ng-class="{'--invalid':publicTrip.publicTripForm.vehicleType.$error.required && publicTrip.publicTripForm.vehicleType.$dirty}"
                                                name="vehicleType" required
                                                id="public-vehicle-type"
                                                ng-options="veh for veh in publicTrip.publicVehiclesType"></select>


                                        <div class="--invalid-text"
                                             ng-if="publicTrip.publicTripForm.vehicleType.$error.required && publicTrip.publicTripForm.vehicleType.$dirty">
                                            <p> Este campo es requerido. </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle"
                                              ng-if="publicTrip.publicTripForm.company.$error.required && publicTrip.publicTripForm.company.$dirty"></span>
                                        <label class="form-body__label" for="public-trip-company">Compañia</label>

                                        <input type="text" class="form-body__text form-control"
                                               ng-model="publicTrip.context.publicTripItem.company"
                                               ng-class="{'--invalid':publicTrip.publicTripForm.company.$error.required && publicTrip.publicTripForm.company.$dirty}"
                                               name="company" required
                                               id="public-trip-company">

                                        <div class="--invalid-text"
                                             ng-if="publicTrip.publicTripForm.company.$error.required && publicTrip.publicTripForm.company.$dirty">
                                            <p> Este campo es requerido. </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle"
                                              ng-if="publicTrip.publicTripForm.fromLocation.$error.required && publicTrip.publicTripForm.fromLocation.$dirty"></span>
                                        <label class="form-body__label" for="public-trip-fromlocation">Desde</label>

                                        <input class="form-body__text form-control"
                                               type="text"
                                               name="fromLocation"
                                               ng-class="{'--invalid':publicTrip.publicTripForm.fromLocation.$error.required && publicTrip.publicTripForm.fromLocation.$dirty}"
                                               vs-autocomplete-validator
                                               vs-google-autocomplete="publicTrip.config.googleAPIOptions"
                                               required
                                               ng-model="publicTrip.context.publicTripItem.fromLocation.name"
                                               vs-latitude="publicTrip.context.publicTripItem.fromLocation.latitude"
                                               vs-place-id="publicTrip.context.publicTripItem.fromLocation.ID"
                                               vs-update="publicTrip.calculatedNewCostAndDistance('fromLocation')"
                                               vs-longitude="publicTrip.context.publicTripItem.fromLocation.longitude" />

                                        <div class="--invalid-text">
                                            <p ng-if="publicTrip.publicTripForm.fromLocation.$error.required && publicTrip.publicTripForm.fromLocation.$dirty"> Este campo es requerido. </p>
                                            <p ng-if="publicTrip.publicTripForm.fromLocation.$error.vsAutocompleteValidator && publicTrip.publicTripForm.fromLocation.$dirty"> Ubicación no valida. </p>
                                        </div>

                                    </div>
                                </div>


                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle"
                                              ng-if="publicTrip.publicTripForm.untilLocation.$error.required && publicTrip.publicTripForm.untilLocation.$dirty"></span>
                                        <label class="form-body__label" for="public-trip-untillocation">Hasta</label>

                                        <input class="form-body__text form-control"
                                               type="text"
                                               name="untilLocation"
                                               ng-class="{'--invalid':publicTrip.publicTripForm.untilLocation.$error.required && publicTrip.publicTripForm.untilLocation.$dirty}"
                                               vs-autocomplete-validator
                                               vs-google-autocomplete="publicTrip.config.googleAPIOptions"
                                               required
                                               ng-model="publicTrip.context.publicTripItem.untilLocation.name"
                                               vs-latitude="publicTrip.context.publicTripItem.untilLocation.latitude"
                                               vs-place-id="publicTrip.context.publicTripItem.untilLocation.ID"
                                               vs-update="publicTrip.calculatedNewCostAndDistance('untilLocation')"
                                               vs-longitude="publicTrip.context.publicTripItem.untilLocation.longitude" />

                                        <div class="--invalid-text">
                                            <p ng-if="publicTrip.publicTripForm.untilLocation.$error.required && publicTrip.publicTripForm.untilLocation.$dirty"> Este campo es requerido. </p>
                                            <p ng-if="publicTrip.publicTripForm.untilLocation.$error.vsAutocompleteValidator && publicTrip.publicTripForm.untilLocation.$dirty"> Ubicación no valida. </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-body__label" for="public-traveled-distance">Distancia Aproximada (Kms)</label>
                                        <input type="text" class="form-body__text form-control --disabled"
                                               value="{{(publicTrip.context.publicTripItem.traveledDistance || '0') + ' kms'}}"
                                               name="traveledDistance" required
                                               id="public-traveled-distance"
                                               disabled="disabled">
                                    </div>
                                </div>

                                <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-body__label" for="public-trip-cost-perKm">Costo Aproximado</label>
                                        <input type="text" class="form-body__text form-control --disabled"
                                               ng-model="publicTrip.context.publicTripItem.tripCostPerKm"
                                               name="tripCostPerKm" required
                                               ng-currency="" currency-symbol="{{publicTrip.expenseRepository.expenseRequest.request.currency + '$ '}} "
                                               id="public-trip-cost-perKm"
                                               disabled="disabled" />
                                    </div>
                                </div>-->
                            </div>
                            <div class="form-row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="feather icon-alert-circle icon-alert-circle--is-on-date"
                                              ng-if="publicTrip.tripDatesOnConflict || (publicTrip.publicTripForm.fromDate.$error.required && publicTrip.publicTripForm.fromDate.$dirty)"></span>

                                        <label class="form-body__label" for="public-trip-from-date">Desde:</label>
                                        <div moment-picker="publicTrip.context.publicTripItem.fromDate" ng-model="publicTrip.context.publicTripItem.momentFromDate"
                                             format="DD/MM/YYYY hh:mm a" today="false"
                                             max-view="minute"
                                             change="publicTrip.datesValidator();"
                                             min-date="publicTrip.expenseRepository.expenseRequest.request.expenseFromDate"
                                             max-date="publicTrip.expenseRepository.expenseRequest.request.expenseUntilDate"
                                             class="datePicker">
                                            <span class="feather icon-calendar"></span>

                                            <input type="text"
                                                   ng-model="publicTrip.context.publicTripItem.fromDate"
                                                   id="public-trip-from-date"
                                                   ng-class="{'--invalid':publicTrip.tripDatesOnConflict || (publicTrip.publicTripForm.fromDate.$error.required && publicTrip.publicTripForm.fromDate.$dirty)}"
                                                   name="fromDate" required
                                                   class="form-body__text form-body__text form-body__text--right-fix form-control"
                                                   autocomplete="off">
                                        </div>
                                        <div class="--invalid-text">
                                            <p ng-if="publicTrip.publicTripForm.fromDate.$error.required && publicTrip.publicTripForm.fromDate.$dirty"> Este campo es requerido. </p>

                                            <p ng-if="publicTrip.tripDatesOnConflict">Conflicto de fecha con viajes anteriores</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle icon-alert-circle--is-on-date"
                                              ng-if="publicTrip.tripDatesOnConflict || (publicTrip.publicTripForm.untilDate.$error.required && publicTrip.publicTripForm.untilDate.$dirty)"></span>

                                        <label class="form-body__label" for="public-trip-until-date">Hasta:</label>
                                        <div moment-picker="publicTrip.context.publicTripItem.untilDate" ng-model="publicTrip.context.publicTripItem.momentUntilDate"
                                             format="DD/MM/YYYY hh:mm a" today="false"
                                             max-view="minute"
                                             change="publicTrip.datesValidator();"
                                             min-date="publicTrip.context.publicTripItem.momentFromDate"
                                             max-date="publicTrip.expenseRepository.expenseRequest.request.expenseUntilDate"
                                             class="datePicker">
                                            <span class="feather icon-calendar"></span>

                                            <input type="text"
                                                   ng-model="publicTrip.context.publicTripItem.untilDate"
                                                   id="public-trip-until-date"
                                                   ng-class="{'--invalid': publicTrip.tripDatesOnConflict || (publicTrip.publicTripForm.untilDate.$error.required && publicTrip.publicTripForm.untilDate.$dirty)}"
                                                   name="untilDate" required
                                                   class="form-body__text form-body__text form-body__text--right-fix form-control"
                                                   autocomplete="off">
                                        </div>
                                        <div class="--invalid-text">
                                            <p ng-if="publicTrip.publicTripForm.untilDate.$error.required && publicTrip.publicTripForm.untilDate.$dirty"> Este campo es requerido. </p>
                                            <p ng-if="publicTrip.tripDatesOnConflict">Conflicto de fecha con viajes anteriores</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <!--NCF-->
                    <div class="col-6">
                        <p class="modal-upload-info__text modal-upload-info__text--fullmargin">
                            Con Factura
                        </p>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <div class="mt-square" style="font-size:9px;">
                            <input id="public-trip-invoice-chk" type="checkbox"
                                   ng-change="publicTrip.cleanInvoiceInfo()"
                                   ng-model="publicTrip.context.publicTripItem.haveInvoice">
                            <label for="public-trip-invoice-chk"></label>
                        </div>
                    </div>


                    <div class="col-md-12" ng-show="publicTrip.context.publicTripItem.haveInvoice">
                        <div class="row">
                            <div class="col-md-12">
                                <div action="" class="form-body form-container">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.rnc.$error.required && publicTrip.publicTripForm.rnc.$dirty"></span>
                                                <label class="form-body__label" for="public-trip-modal-rnc">RNC:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="publicTrip.context.publicTripItem.invoice.rnc"
                                                       ng-blur="publicTrip.validateNCF()"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.rnc.$error.required && publicTrip.publicTripForm.rnc.$dirty}"
                                                       name="rnc" ng-required="publicTrip.context.publicTripItem.haveInvoice"
                                                       id="public-trip-modal-rnc">

                                                <div class="--invalid-text"
                                                     ng-if="publicTrip.publicTripForm.rnc.$error.required && publicTrip.publicTripForm.rnc.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.ncf.$error.required && publicTrip.publicTripForm.ncf.$dirty"></span>
                                                <label class="form-body__label" for="public-trip-modal-ncf">NCF:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="publicTrip.context.publicTripItem.invoice.ncf"
                                                       ng-blur="publicTrip.validateNCF()"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.ncf.$error.required && publicTrip.publicTripForm.ncf.$dirty}"
                                                       name="ncf" ng-required="publicTrip.context.publicTripItem.haveInvoice"
                                                       id="public-trip-modal-ncf">

                                                <div class="--invalid-text">
                                                    <p ng-if="publicTrip.publicTripForm.ncf.$error.required && publicTrip.publicTripForm.ncf.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="  publicTrip.context.invalidNCF"> NCF o RNC invalido. </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.tripCost.$error.required && publicTrip.publicTripForm.tripCost.$dirty"></span>
                                                <label class="form-body__label" for="public-invoice-cost">Costo</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="publicTrip.context.publicTripItem.tripCost"
                                                       ng-currency currency-symbol="{{publicTrip.expenseRepository.expenseRequest.request.currency + '$ '}} "
                                                       name="tripCost" ng-required="publicTrip.context.publicTripItem.haveInvoice"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.tripCost.$error.required && publicTrip.publicTripForm.tripCost.$dirty}"
                                                       id="public-invoice-cost"
                                                       placeholder="">

                                                <div class="--invalid-text">
                                                    <p ng-if="publicTrip.publicTripForm.tripCost.$error.required && publicTrip.publicTripForm.tripCost.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="publicTrip.publicTripForm.tripCost.$dirty && publicTrip.publicTripForm.tripCost.$touched && !publicTrip.publicTripForm.tripCost.$valid"> Digite un monto valido. </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-body__label" for="public-modal-supplier">Suplidor:</label>
                                                <input type="text" class="form-body__text form-control --disabled"
                                                       value="{{publicTrip.context.publicTripItem.invoice.supplier}}"
                                                       disabled="disabled"
                                                       name="supplier"
                                                       ng-required="publicTrip.context.publicTripItem.haveInvoice"
                                                       id="public-modal-supplier">

                                                <div class="--invalid-text">
                                                    <p ng-if="publicTrip.context.invalidNCF"> Suplidor no encontrado. </p>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!--END NCF-->
                    <!--KEEP-->
                    <div class="col-6">
                        <p class="modal-upload-info__text modal-upload-info__text--fullmargin">
                            Hospedaje
                        </p>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <div class="mt-square" style="font-size:9px;">
                            <input id="public-lodgement-chk" type="checkbox"
                                   ng-change="publicTrip.cleanLodgementInfo()"
                                   ng-model="publicTrip.context.publicTripItem.haveLodgement">
                            <label for="public-lodgement-chk"></label>
                        </div>
                    </div>

                    <div class="col-md-12" ng-show="publicTrip.context.publicTripItem.haveLodgement">
                        <div class="row">
                            <div class="col-md-12">
                                <div action="" class="form-body form-container">
                                    <div class="form-row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.lodgementType.$error.required && publicTrip.publicTripForm.lodgementType.$dirty"></span>
                                                <label class="form-body__label" for="public-lodgement-type">Tipo Hospedaje</label>
                                                <select class="form-body__select form-control"
                                                        ng-model="publicTrip.context.publicTripItem.lodgement.lodgementType"
                                                        ng-class="{'--invalid':publicTrip.publicTripForm.lodgementType.$error.required && publicTrip.publicTripForm.lodgementType.$dirty}"
                                                        name="lodgementType" ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                        id="public-lodgement-type"
                                                        ng-options="lodgement for lodgement in publicTrip.lodgementTypes"></select>

                                                <div class="--invalid-text"
                                                     ng-if="publicTrip.publicTripForm.lodgementType.$error.required && publicTrip.publicTripForm.lodgementType.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.lodgementType.$error.required && publicTrip.publicTripForm.lodgementType.$dirty"></span>
                                                <label class="form-body__label" for="public-lodgement-name">Nombre Lugar</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="publicTrip.context.publicTripItem.lodgement.lodgementName"
                                                       name="lodgementName" ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.lodgementName.$error.required && publicTrip.publicTripForm.lodgementName.$dirty}"
                                                       id="public-lodgement-name"
                                                       placeholder="">

                                                <div class="--invalid-text"
                                                     ng-if="publicTrip.publicTripForm.lodgementType.$error.required && publicTrip.publicTripForm.lodgementType.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.lodgementDaysQuantity.$error.required && publicTrip.publicTripForm.lodgementDaysQuantity.$dirty"></span>
                                                <label class="form-body__label" for="public-lodgement-days-quantity'quantity">Cant. Noches</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-blur="publicTrip.calculateLodgementCost();"
                                                       ng-pattern="publicTrip.config.regex.numberMayorThanZero"
                                                       max="{{publicTrip.expenseRepository.expenseRequest.request.calendarDaysQuantity}}"
                                                       currency-symbol=" " fraction="0"
                                                       ng-model="publicTrip.context.publicTripItem.lodgement.lodgementDaysQuantity"
                                                       name="lodgementDaysQuantity" ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.lodgementDaysQuantity.$error.required && publicTrip.publicTripForm.lodgementDaysQuantity.$dirty}"
                                                       id="public-lodgement-days-quantity'quantity"
                                                       placeholder="">

                                                <div class="--invalid-text">
                                                    <p ng-if="publicTrip.publicTripForm.lodgementDaysQuantity.$error.required && publicTrip.publicTripForm.lodgementDaysQuantity.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="publicTrip.publicTripForm.lodgementDaysQuantity.$dirty && publicTrip.publicTripForm.lodgementDaysQuantity.$touched && !publicTrip.publicTripForm.lodgementDaysQuantity.$valid">
                                                        Esta cantidad de días no es valida.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.lodgementCost.$error.required && publicTrip.publicTripForm.lodgementCost.$dirty"></span>
                                                <label class="form-body__label" for="public-lodgement-cost">Costo  por Noche</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="publicTrip.context.publicTripItem.lodgement.lodgementCost"
                                                       ng-blur="publicTrip.calculateLodgementCost();"
                                                       ng-currency currency-symbol="{{publicTrip.expenseRepository.expenseRequest.request.currency + '$ '}} "
                                                       name="lodgementCost" ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.lodgementCost.$error.required && publicTrip.publicTripForm.lodgementCost.$dirty}"
                                                       id="public-lodgement-cost"
                                                       placeholder="">

                                                <div class="--invalid-text">
                                                    <p ng-if="publicTrip.publicTripForm.lodgementCost.$error.required && publicTrip.publicTripForm.lodgementCost.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="publicTrip.publicTripForm.lodgementCost.$dirty && publicTrip.publicTripForm.lodgementCost.$touched && !publicTrip.publicTripForm.lodgementCost.$valid"> Digite un monto valido. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-body__label" for="public-lodgement-total-cost">Costo Total Periodo</label>
                                                <input type="text" class="form-body__text form-control  --disabled"
                                                       ng-model="publicTrip.context.publicTripItem.lodgement.lodgementTotalCost"
                                                       ng-currency currency-symbol="{{publicTrip.expenseRepository.expenseRequest.request.currency + '$ '}} " min="0" hard-cap="true"
                                                       name="lodgementTotalCost" ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                       id="public-lodgement-total-cost"
                                                       disabled="disabled">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.rncLodgement.$error.required && publicTrip.publicTripForm.rncLodgement.$dirty"></span>
                                                <label class="form-body__label" for="public-trip-modal-lodgement-rnc">RNC:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="publicTrip.context.publicTripItem.lodgement.invoice.rnc"
                                                       ng-blur="publicTrip.validateNCFLodgement()"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.rncLodgement.$error.required && publicTrip.publicTripForm.rncLodgement.$dirty}"
                                                       name="rncLodgement" ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                       id="public-trip-modal-lodgement-rnc">

                                                <div class="--invalid-text"
                                                     ng-if="publicTrip.publicTripForm.rncLodgement.$error.required && publicTrip.publicTripForm.rncLodgement.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="publicTrip.publicTripForm.ncfLodgement.$error.required && publicTrip.publicTripForm.ncfLodgement.$dirty"></span>
                                                <label class="form-body__label" for="public-trip-modal-lodgement-ncf">NCF:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="publicTrip.context.publicTripItem.lodgement.invoice.ncf"
                                                       ng-blur="publicTrip.validateNCFLodgement()"
                                                       ng-class="{'--invalid':publicTrip.publicTripForm.ncfLodgement.$error.required && publicTrip.publicTripForm.ncfLodgement.$dirty}"
                                                       name="ncfLodgement" ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                       id="public-trip-modal-lodgement-ncf">

                                                <div class="--invalid-text">
                                                    <p ng-if="publicTrip.publicTripForm.ncfLodgement.$error.required && publicTrip.publicTripForm.ncfLodgement.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="  publicTrip.context.invalidLodgementNCF"> NCF o RNC invalido. </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-body__label" for="public-modal-lodgement-supplier">Suplidor:</label>
                                                <input type="text" class="form-body__text form-control --disabled"
                                                       value="{{publicTrip.context.publicTripItem.lodgement.invoice.supplier}}"
                                                       disabled="disabled"
                                                       name="supplierLodgement"
                                                       ng-required="publicTrip.context.publicTripItem.haveLodgement"
                                                       id="public-modal-lodgement-supplier">

                                                <div class="--invalid-text">
                                                    <p ng-if="publicTrip.context.invalidLodgementNCF"> Suplidor no encontrado. </p>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--END KEEP-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="actions-expenses">
                            <button type="button" class="actions-expenses__button actions-expenses__button--cancelar"
                                    ng-click="publicTrip.closePublicTripModal()">
                                Cancelar
                            </button>
                            <button type="button" class="actions-expenses__button actions-expenses__button--expenses"
                                    ng-disabled="publicTrip.context.invalidLodgementNCF || publicTrip.context.invalidNCF ||  publicTrip.tripDatesOnConflict  || ( publicTrip.context.firstClick && !publicTrip.publicTripForm.$valid)"
                                    ng-class="{'--disabled': publicTrip.tripDatesOnConflict  || ( publicTrip.context.firstClick && !publicTrip.publicTripForm.$valid) } "
                                    ng-click="publicTrip.addPublicTrip()">
                                Reportar Viaje
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>