<link rel="stylesheet" href="../../../../../css/Portal/shared.css">
<link rel="stylesheet" href="../../../../../css/Portal/calendar.css">

<style>

    /* ==========================================================================
    #CARD
    ========================================================================== */

    .card {
        overflow: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #fff;
    }

    .card-3 {
        background: #000;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        width: 100%;
        display: table;
    }

        .card-3 .card-heading {
            background: url("../../../assets/images/laura.jpeg") top left/cover no-repeat;
            display: table-cell;
            width: 50%;
        }

        .card-3 .card-body {
            padding: 57px 65px;
            padding-bottom: 65px;
            display: table-cell;
        }

    @media (max-width: 767px) {
        .card-3 {
            display: block;
        }

            .card-3 .card-heading {
                display: block;
                width: 100%;
                padding-top: 400px;
                background-position: center center;
            }

            .card-3 .card-body {
                display: block;
                width: 100%;
                padding: 37px 30px;
                padding-bottom: 45px;
            }
    }

    .signup-step-container {
        background-color: whitesmoke
    }

    .success-page-cont {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
    }

    .success-card .card-body {
        padding: 50px 20px;
    }

    .success-cont {
        text-align: center;
    }

        .success-cont i {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #fff;
            width: 60px;
            height: 60px;
            border: 2px solid #09e5ab;
            border-radius: 50%;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            font-size: 30px;
            margin-bottom: 30px;
            background-color: #09e5ab;
        }

        .success-cont h3 {
            font-size: 24px;
        }

        .success-cont p {
            margin-bottom: 30px;
        }

        .success-cont strong {
            font-weight: 600;
        }

    .view-inv-btn {
        color: #5bc0de;
        font-size: 16px;
        font-weight: 600;
        padding: 0px 30px;
        border-color: #528bc7;
    }

        .view-inv-btn:hover {
            color: #000000
        }

        .view-inv-btn:focus {
            color: #000000 !important
        }
</style>
<!--CHECK TO FIX THAT SHIT-->

<section class="bg-gra-01 py-3">

    <section class="signup-step-container">
        <div class="container">

            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Informacion</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Cita</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#detail-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="detail-part" id="detail-part-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Detalle</span>
                        </button>
                    </div>

                    <div class="line"></div>
                    <div class="step" data-target="#final-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="final-part" id="final-part-trigger">
                            <span class="bs-stepper-circle">4</span>
                            <span class="bs-stepper-label">Completada</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">

                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3 class="text-center mt-3 mb-5">Proceso de Reserva</h3>
                            <div class="row" ng-form="reserve.firstStep">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Consultorio</label>
                                        <select id="office" class="form-control"
                                                ng-model="reserve.reserveForm.office"
                                                name="office" required
                                                ng-class="{'is-invalid':reserve.firstStep.office.$error.required && reserve.firstStep.office.$dirty}"
                                                ng-options="office as office.name for office in reserve.officeService.offices"></select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Servicio</label>
                                        <select id="office" class="form-control"
                                                ng-model="reserve.reserveForm.specialty"
                                                name="specialty" required
                                                ng-class="{'is-invalid':reserve.firstStep.specialty.$error.required && reserve.firstStep.specialty.$dirty}"
                                                ng-options="specialty as specialty.name for specialty in reserve.specialtiesService.specialties"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="mr-3 mt-3">¿Es para un dependiente?</label>

                                        <label>
                                            <input type="radio" ng-init="reserve.reserveForm.forDependent = false" ng-model="reserve.reserveForm.forDependent" value="true">
                                            SI
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="reserve.reserveForm.forDependent" ng-click="reserve.dependentService.dependent = null" ng-value="false">
                                            NO
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-6" ng-show="reserve.reserveForm.forDependent">
                                    <div class="form-group">
                                        <label class="form-label">Dependiente:</label>
                                        <select id="office" class="form-control"
                                                ng-class="{'is-invalid':reserve.firstStep.dependent.$error.required && reserve.firstStep.dependent.$dirty}"
                                                ng-model="reserve.reserveForm.dependent"
                                                name="dependent" ng-required="doctors.reserveForm.forDependent"
                                                ng-options="specialty as specialty.name for specialty in reserve.dependentService.currentUserDependents"></select>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="default-btn next-step" ng-disabled="!reserve.firstStep.$valid" ng-click="reserve.next(); reserve.resetStepTwo();">Siguiente</button></li>
                            </ul>
                        </div>
                    </div>
                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3 class="text-center mt-3 mb-5">Fecha y doctores disponibles</h3>
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label for="example-datetime-local-input" class="form-label">Fecha</label>

                                        <div moment-picker="reserve.reserveForm.date"
                                             max-view="month"
                                             format="DD/MM/YYYY"
                                             start-view="month"
                                             change="reserve.getDoctorsWithParameters()"
                                             ng-model="reserve.dateRangeMoment"
                                             class="datePicker">
                                            <span class="feather icon-calendar"></span>
                                            <input type="text"
                                                   ng-model="reserve.reserveForm.date"
                                                   id="startTime"
                                                   name="fromDate" required
                                                   class="form-control"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-label">Doctores:</label>
                                        <select id="doctor" class="form-control"
                                                ng-model="reserve.reserveForm.doctor"
                                                name="dependent" required
                                                ng-change="reserve.doctorLaborDays()"
                                                ng-options="doctor as doctor.name + ' ' + doctor.lastName for doctor in reserve.doctors"></select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card booking-schedule schedule-widget">
                                        <div class="schedule-cont">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="time-slot">
                                                        <ul class="clearfix">

                                                            <li ng-repeat="reserveTime in reserve.times | orderBy: 'order'">
                                                                <a class="timing"
                                                                   ng-click="reserve.timeClicked(reserveTime);"
                                                                   ng-class="{'selected' : reserveTime.selected, 'time-disabled': !reserveTime.active, 'time-busy': reserveTime.busy}" href="">
                                                                    <span>{{reserveTime.time}}</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="default-btn prev-step" ng-click="reserve.back();">Atras</button></li>
                                <li><button type="button" class="default-btn next-step" ng-init="reserve.timeSelected = false" ng-disabled="!reserve.timeSelected" ng-click="reserve.next();">Continue</button></li>
                            </ul>
                        </div>
                    </div>

                    <div id="detail-part" class="content p-3" style="background-color: white" role="tabpanel" aria-labelledby="detail-part-trigger">
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3 class="text-center mt-3 mb-5">Detalles</h3>
                            <div class="all-info-container ">

                                <div class="row">
                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Consultorio:</strong> {{reserve.reserveForm.office.name}} </p>
                                    </div>

                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Servicio:</strong> {{reserve.reserveForm.specialty.name}} </p>
                                    </div>

                                    <div class="col-md-4 offset-md-2" ng-show="reserve.reserveForm.forDependent">
                                        <p><strong>Dependiente:</strong> {{reserve.reserveForm.dependent.name}} </p>
                                    </div>

                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Fecha:</strong> {{reserve.reserveForm.date}} </p>
                                    </div>

                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Horario:</strong> 9 AM</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Doctor:</strong> {{reserve.reserveForm.doctor.name}} {{reserve.reserveForm.doctor.lastName}}</p>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="default-btn prev-step" ng-click="reserve.back();">Atras</button></li>
                                <li><button type="button" class="default-btn next-step" ng-click="reserve.saveReserve();">Continue</button></li>
                            </ul>
                        </div>
                    </div>

                    <div id="final-part" class="content" role="tabpanel" aria-labelledby="final-part-trigger">
                        <div class="tab-pane" role="tabpanel" id="step4">

                            <div class="card success-card">
                                <div class="card-body">
                                    <div class="success-cont">
                                        <i class="fa fa-check">
                                            <span class="material-icons">
                                                check
                                            </span>
                                        </i>
                                        <h3>¡Cita reservada con exito!</h3>
                                        <p>
                                            Cita con el
                                            <strong>{{reserve.reserveForm.doctor.genre == 'Masculino' ? 'Dr.' : 'Dra.'}} {{reserve.reserveForm.doctor.name}} {{reserve.reserveForm.doctor.lastName}}</strong>
                                            <br> para el
                                            <strong>{{reserve.finalText}}</strong>
                                            <br />
                                            <strong ng-show="reserve.reserveForm.forDependent">
                                                Para su dependiente: {{reserve.reserveForm.dependent.name}} {{reserve.reserveForm.dependent.lastName}}
                                            </strong>
                                        </p>

                                        <a class="btn btn-primary view-inv-btn" ng-click="reserve.resetForm()" style="background: none" href="">
                                            Crear una nueva
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!--///-->