<link rel="stylesheet" href="../../../../../css/Portal/shared.css">
<link rel="stylesheet" href="../../../../../css/Portal/calendar.css">
<!--<link rel="stylesheet" href="../../../../../css/Portal/reserve.css">-->
<!--CHECK TO FIX THAT SHIT-->

<section class="bg-gra-01 py-3">

    <section class="signup-step-container">
        <div class="container">

            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Informacion</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Cita</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#detail-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="detail-part" id="detail-part-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Detalle</span>
                        </button>
                    </div>

                    <div class="line"></div>
                    <div class="step" data-target="#final-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="final-part" id="final-part-trigger">
                            <span class="bs-stepper-circle">4</span>
                            <span class="bs-stepper-label">Completada</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">

                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3 class="text-center mt-3 mb-5">Proceso de Reserva</h3>
                            <div class="row" ng-form="reserve.firstStep">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Consultorio</label>
                                        <select id="office" class="form-control"
                                                ng-model="reserve.reserveForm.office"
                                                name="office" required
                                                ng-class="{'is-invalid':reserve.firstStep.office.$error.required && reserve.firstStep.office.$dirty}"
                                                ng-options="office as office.name for office in reserve.officeService.offices"></select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Servicio</label>
                                        <select id="office" class="form-control"
                                                ng-model="reserve.reserveForm.specialty"
                                                name="specialty" required
                                                
                                                ng-class="{'is-invalid':reserve.firstStep.specialty.$error.required && reserve.firstStep.specialty.$dirty}"
                                                ng-options="specialty as specialty.name for specialty in reserve.specialtiesService.specialties"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="mr-3 mt-3">¿Es para un dependiente?</label>

                                        <label>
                                            <input type="radio" ng-init="doctors.reserveForm.forDependent = false" ng-model="doctors.reserveForm.forDependent" value="true">
                                            SI
                                        </label>
                                        <label>
                                            <input type="radio" ng-model="doctors.reserveForm.forDependent" ng-click="reserve.dependentService.dependent = null" ng-value="false">
                                            NO
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-6" ng-show="doctors.reserveForm.forDependent">
                                    <div class="form-group">
                                        <label class="form-label">Dependiente:</label>
                                        <select id="office" class="form-control"
                                                
                                                ng-class="{'is-invalid':reserve.firstStep.dependent.$error.required && reserve.firstStep.dependent.$dirty}"
                                                ng-model="reserve.reserveForm.dependent"
                                                name="dependent" ng-required="doctors.reserveForm.forDependent"
                                                ng-options="specialty as specialty.name for specialty in reserve.dependentService.dependent"></select>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="default-btn next-step" ng-disabled="!reserve.firstStep.$valid"ng-click="reserve.next();">Siguiente</button></li>
                            </ul>
                        </div>
                    </div>
                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3 class="text-center mt-3 mb-5">Fecha y doctores disponibles</h3>
                            <div class="row">
                                {{reserve.dateRange}}
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label for="example-datetime-local-input" class="form-label">Fecha</label>

                                        <div moment-picker="reserve.reserveForm.date"
                                             max-view="month"
                                             format="DD/MM/YYYY"
                                             start-view="month"
                                             change="reserve.doctorLaborDays()"
                                             ng-model="reserve.dateRangeMoment"
                                             class="datePicker">
                                            <span class="feather icon-calendar"></span>
                                            <input type="text"
                                                     
                                                   ng-model="reserve.reserveForm.date"
                                                   id="startTime"
                                                   name="fromDate" required
                                                   class="form-control"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-label">Doctores:</label>
                                        <select id="doctor" class="form-control"
                                                ng-model="reserve.reserveForm.doctor"
                                                name="dependent" required
                                                ng-change="reserve.doctorLaborDays()"
                                                ng-options="doctor as doctor.name + ' ' + doctor.lastName + ' - ' + doctor.email for doctor in reserve.userService.doctors"></select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card booking-schedule schedule-widget">
                                        <div class="schedule-cont">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="time-slot">
                                                        <ul class="clearfix">
                                                             
                                                            <li ng-repeat="reserveTime in reserve.times | orderBy: 'order'">
                                                                <a class="timing" 
                                                                   ng-click="reserve.timeClicked(reserveTime);"
                                                                   ng-class="{'selected' : reserveTime.selected, 'time-disabled': !reserveTime.active, 'time-busy': reserveTime.busy}"  href="">
                                                                    <span>{{reserveTime.time}}</span> 
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="default-btn prev-step" ng-click="reserve.back();">Atras</button></li>
                                <li><button type="button" class="default-btn next-step" ng-init="reserve.timeSelected = false" ng-disabled="!reserve.timeSelected" ng-click="reserve.next();">Continue</button></li>
                            </ul>
                        </div>
                    </div>

                    <div id="detail-part" class="content p-3" style="background-color: white" role="tabpanel" aria-labelledby="detail-part-trigger">
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3 class="text-center mt-3 mb-5">Detalles</h3>
                            <div class="all-info-container ">

                                <div class="row">
                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Consultorio:</strong> {{reserve.reserveForm.office.name}} </p>
                                    </div>

                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Servicio:</strong> {{reserve.reserveForm.specialty.name}} </p>
                                    </div>

                                    <div class="col-md-4 offset-md-2" ng-show="reserve.reserveForm.forDependent">
                                        <p><strong>Dependiente:</strong> {{reserve.reserveForm.dependent.name}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Fecha:</strong> {{reserve.reserveForm.date}} </p>
                                    </div>

                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Horario:</strong> 9 AM</p>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4 offset-md-2">
                                        <p><strong>Doctor:</strong> {{reserve.reserveForm.doctor.name}}</p>
                                    </div>
                                </div>
                            
                            </div>
                            

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="default-btn prev-step" ng-click="reserve.back();">Atras</button></li>
                                <li><button type="button" class="default-btn next-step" ng-click="reserve.saveReserve();">Continue</button></li>
                            </ul>
                        </div>
                    </div>

                    <div id="final-part" class="content" role="tabpanel" aria-labelledby="final-part-trigger">
                        <div class="tab-pane" role="tabpanel" id="step4">

                            <div class="card success-card">
                                <div class="card-body">
                                    <div class="success-cont">
                                        <i class="fa fa-check"></i>
                                        <h3>¡Cita reservada con exito!</h3>
                                        <p>
                                            Cita con el
                                            <strong>{{reserve.reserveForm.doctor.genre == 'Masculino' ? 'Dr.' : 'Dra.'}} {{reserve.reserveForm.doctor.name}}</strong>
                                            <br> para el
                                            <strong>{{reserve.finalText}}</strong>
                                        </p>

                                        <a class="btn btn-primary view-inv-btn" ng-click="reserve.resetForm()" style="background: none" href="/">
                                            Crear una nueva
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!--///-->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var target = $(e.target);

            if (target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {

            var active = $('.wizard .nav-tabs li.active');
            active.next().removeClass('disabled');
            nextTab(active);

        });
        $(".prev-step").click(function (e) {

            var active = $('.wizard .nav-tabs li.active');
            prevTab(active);

        });
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }

    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

    $('.nav-tabs').on('click', 'li', function () {
        $('.nav-tabs li.active').removeClass('active');
        $(this).addClass('active');
    });

    $('input[name="datefilter"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear'
        }
    });

    $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
    });

    $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
    });
</script>