<link rel="stylesheet" href="../../../../../css/Portal/table.css">

<!--CHECK TO FIX THAT SHIT-->

<section class="bg-mix py-3">
    <div class="container">
        <div class="card rounded-0">
            <div class="card-body">

                <div class="container-xl">
                    <div class="table-responsive table-stripped">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Manejar <b>Secretarias</b></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-success" ng-click="secretary.addSecretary()"><i class="material-icons">&#xE147;</i> <span>Agregar nueva Secretaria</span></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="20">Nombre</th>
                                        <th width="20">Contacto</th>
                                        <th width="20">Sexo</th>
                                        <th width="20">Doctores Asignados</th>
                                        <th width="10">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="_secretary in secretary.secretariesService.secretaries">
                                        <td>{{_secretary.name}} {{secretary.lastName}}</td>
                                        <td>{{_secretary.phoneNumber}} | {{_secretary.email}}</td>
                                        <td>{{_secretary.genre}}</td>
                                        <td>
                                            <ul>
                                                <li ng-repeat="doctor in _secretary.secretaryDoctors">
                                                    {{doctor.doctor.name}} {{doctor.doctor.lastName}} [{{doctor.since | date: 'dd/MM/yyyy'}}]
                                                </li>
                                            </ul>
                                        </td>

                                        <td>
                                            <a class="edit" ng-click="secretary.editSecretary(_secretary)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <a class="delete" ng-click="secretary.deleteSecretary(_secretary)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Edit Modal HTML -->
<div id="secretaryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Consultorio</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row" ng-form="secretary.secretaryForm">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" ng-model="secretary.form.name"
                                       ng-class="{'is-invalid':secretary.secretaryForm.name.$error.required && secretary.secretaryForm.name.$dirty}"
                                       name="name"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" ng-model="secretary.form.lastName"
                                       ng-class="{'is-invalid':secretary.secretaryForm.lastName.$error.required && secretary.secretaryForm.lastName.$dirty}"
                                       name="lastName"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Genero</label>
                                <select class="form-control"
                                        ng-model="secretary.form.genre"
                                        name="genre"
                                        ng-class="{'is-invalid':secretary.secretaryForm.genre.$error.required && secretary.secretaryForm.genre.$dirty}"
                                        id="genre" required>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Correo</label>
                                <input type="email" ng-model="secretary.form.email"
                                       ng-class="{'is-invalid':secretary.secretaryForm.email.$error.required && secretary.secretaryForm.email.$dirty}"
                                       name="email"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" ng-model="secretary.form.phoneNumber"
                                       ng-class="{'is-invalid':secretary.secretaryForm.telephone.$error.required && secretary.secretaryForm.telephone.$dirty}"
                                       name="telephone"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6" ng-show="!secretary.form.id">
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" ng-model="secretary.form.password"
                                       ng-class="{'is-invalid':secretary.secretaryForm.password.$error.required && secretary.secretaryForm.password.$dirty}"
                                       name="password"
                                       ng-required="!secretary.form.id"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6" ng-show="!secretary.form.id">
                            <div class="form-group">
                                <label>Confirmar Contraseña</label>
                                <input type="password" ng-model="secretary.form.confirmPassword"
                                       ng-class="{'is-invalid':secretary.secretaryForm.confirmPassword.$error.required && secretary.secretaryForm.confirmPassword.$dirty}"
                                       name="confirmPassword"
                                       class="form-control" ng-required="!secretary.form.id">
                            </div>
                        </div>
                        <div class="col-md-12"> 
                            <div class="form-group">
                                <label>Servicios</label>
                                <div isteven-multi-select
                                     style="width: 100%"
                                     input-model="secretary.doctors"
                                     output-model="secretary.form.doctors"
                                     button-label="name"
                                     translation="secretary.localLanguage"
                                     item-label="name"
                                     tick-property="ticket">
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="button" class="btn btn-success" ng-click="secretary.saveSecretary();" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>