<div class="modal modal-expenses fade" id="private-trip-modal" tabindex="-1" role="dialog"
     aria-labelledby="private-trip-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" ng-click="privTrip.closePrivateTripModal()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-md-12">
                    <div class="modal-upload-header modal-upload-header--center modal-upload-header--form-margin">
                        <h3 class="modal-upload-header__title">Reportar Viaje y hospedaje</h3>
                    </div>
                </div>
                <div class="row" ng-form="privTrip.privateTripForm">
                    <div class="col-md-12">
                        <p class="modal-upload-info__text modal-upload-info__text--margin">
                            Detalles del Viaje Privado
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div action="" class="form-body form-container">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle"
                                              ng-if="privTrip.privateTripForm.usedVehicle.$error.required && privTrip.privateTripForm.usedVehicle.$dirty"></span>
                                        <label class="form-body__label" for="used-vehicle">Vehículo Utilizado</label>

                                        <select class="form-body__select form-control"
                                                ng-model="privTrip.context.privateTripItem.usedVehicle"
                                                ng-class="{'--invalid':privTrip.privateTripForm.usedVehicle.$error.required && privTrip.privateTripForm.usedVehicle.$dirty}"
                                                name="usedVehicle" required
                                                id="used-vehicle"
                                                ng-change="privTrip.context.privateTripItem.tripCostPerKm = 0"
                                                ng-options=" (veh.vehiclePlate || veh.company )+ ' - ' + veh.vehicleType + ' (' + veh.property + ') '  for veh  in privTrip.expenseRepository.expenseRequest.privateVehicles | vehicleFilter track by veh.indexIdentifier"></select>

                                        <div class="--invalid-text"
                                             ng-if="privTrip.privateTripForm.usedVehicle.$error.required && privTrip.privateTripForm.usedVehicle.$dirty">
                                            <p> Este campo es requerido. </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle"
                                              ng-if="privTrip.privateTripForm.fromLocation.$error.required && privTrip.privateTripForm.fromLocation.$dirty"></span>
                                        <label class="form-body__label" for="">Desde</label>

                                        <input class="form-body__text form-control"
                                               type="text"
                                               name="fromLocation"
                                               ng-class="{'--invalid':privTrip.privateTripForm.fromLocation.$error.required && privTrip.privateTripForm.fromLocation.$dirty}"
                                               vs-autocomplete-validator
                                               vs-google-autocomplete="privTrip.config.googleAPIOptions"
                                               required
                                               ng-model="privTrip.context.privateTripItem.fromLocation.name"
                                               vs-latitude="privTrip.context.privateTripItem.fromLocation.latitude"
                                               vs-place-id="privTrip.context.privateTripItem.fromLocation.ID"
                                               vs-update="privTrip.calculatedNewCostAndDistance('fromLocation')"
                                               vs-longitude="privTrip.context.privateTripItem.fromLocation.longitude" />

                                        <div class="--invalid-text">
                                            <p ng-if="privTrip.privateTripForm.fromLocation.$error.required && privTrip.privateTripForm.fromLocation.$dirty"> Este campo es requerido. </p>
                                            <p ng-if="privTrip.privateTripForm.fromLocation.$error.vsAutocompleteValidator && privTrip.privateTripForm.fromLocation.$dirty"> Ubicación no valida. </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--vs-place="privTrip.context.privateTripItem.untilLocation.place"-->
                                        <span class="feather icon-alert-circle"
                                              ng-if="privTrip.privateTripForm.untilLocation.$error.required && privTrip.privateTripForm.untilLocation.$dirty"></span>
                                        <label class="form-body__label" for="">Hasta</label>
                                        <input class="form-body__text form-control"
                                               type="text"
                                               ng-class="{'--invalid':privTrip.privateTripForm.untilLocation.$error.required && privTrip.privateTripForm.untilLocation.$dirty}"
                                               name="untilLocation"
                                               vs-autocomplete-validator
                                               vs-google-autocomplete="privTrip.config.googleAPIOptions"
                                               required
                                               ng-model="privTrip.context.privateTripItem.untilLocation.name"
                                               vs-latitude="privTrip.context.privateTripItem.untilLocation.latitude"
                                               vs-place-id="privTrip.context.privateTripItem.untilLocation.ID"
                                               vs-update="privTrip.calculatedNewCostAndDistance('untilLocation')"
                                               vs-longitude="privTrip.context.privateTripItem.untilLocation.longitude" />

                                        <div class="--invalid-text">
                                            <p ng-if="privTrip.privateTripForm.untilLocation.$error.required && privTrip.privateTripForm.untilLocation.$dirty"> Este campo es requerido. </p>
                                            <p ng-if="privTrip.privateTripForm.untilLocation.$error.vsAutocompleteValidator && privTrip.privateTripForm.untilLocation.$dirty"> Ubicación no valida. </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-body__label" for="traveled-distance">Distancia Aproximada (Kms)</label>
                                        <input type="text" class="form-body__text form-control --disabled"
                                               value="{{(privTrip.context.privateTripItem.traveledDistance || '0') + ' Kms'}}"
                                               name="traveledDistance" required
                                               id="traveled-distance"
                                               disabled="disabled">
                                    </div>
                                </div>

                                <div class="col-md-6" ng-if="privTrip.context.privateTripItem.usedVehicle.property === 'Propio'">
                                    <div class="form-group">
                                        <label class="form-body__label" for="private-trip-tripCostPerKm">Costo Aproximado</label>
                                        <input type="text" class="form-body__text form-control --disabled"
                                               ng-model="privTrip.context.privateTripItem.tripCostPerKm"
                                               name="tripCostPerKm" ng-required="privTrip.context.privateTripItem.usedVehicle.property === 'Propio'"
                                               ng-currency="" currency-symbol="{{privTrip.expenseRepository.expenseRequest.request.currency + '$ '}}"
                                               id="private-trip-tripCostPerKm"
                                               disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="feather icon-alert-circle icon-alert-circle--is-on-date"
                                              ng-if="privTrip.tripDatesOnConflict || (privTrip.privateTripForm.fromDate.$error.required && privTrip.privateTripForm.fromDate.$dirty)"></span>

                                        <label class="form-body__label" for="private-trip-from-date">Desde:</label>
                                        <div moment-picker="privTrip.context.privateTripItem.fromDate" ng-model="privTrip.context.privateTripItem.momentFromDate"
                                             format="DD/MM/YYYY hh:mm a" today="false"
                                             max-view="minute"
                                             change="privTrip.datesValidator();"
                                             min-date="privTrip.expenseRepository.expenseRequest.request.expenseFromDate"
                                             max-date="privTrip.expenseRepository.expenseRequest.request.expenseUntilDate"
                                             class="datePicker">
                                            <span class="feather icon-calendar"></span>

                                            <input type="text"
                                                   ng-model="privTrip.context.privateTripItem.fromDate"
                                                   id="private-trip-from-date"
                                                   ng-class="{'--invalid':privTrip.tripDatesOnConflict || (privTrip.privateTripForm.fromDate.$error.required && privTrip.privateTripForm.fromDate.$dirty)}"
                                                   name="fromDate" required
                                                   class="form-body__text form-body__text form-body__text--right-fix form-control"
                                                   autocomplete="off">
                                        </div>
                                        <div class="--invalid-text">
                                            <p ng-if="privTrip.privateTripForm.fromDate.$error.required && privTrip.privateTripForm.fromDate.$dirty"> Este campo es requerido. </p>

                                            <p ng-if="privTrip.tripDatesOnConflict">Conflicto de fecha con viajes anteriores</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <span class="feather icon-alert-circle icon-alert-circle--is-on-date"
                                              ng-if="privTrip.tripDatesOnConflict || (privTrip.privateTripForm.untilDate.$error.required && privTrip.privateTripForm.untilDate.$dirty)"></span>

                                        <label class="form-body__label" for="private-trip-until-date">Hasta:</label>
                                        <div moment-picker="privTrip.context.privateTripItem.untilDate" ng-model="privTrip.context.privateTripItem.momentUntilDate"
                                             format="DD/MM/YYYY hh:mm a" today="false"
                                             max-view="minute"
                                             change="privTrip.datesValidator();"
                                             min-date="privTrip.context.privateTripItem.momentFromDate"
                                             max-date="privTrip.expenseRepository.expenseRequest.request.expenseUntilDate"
                                             class="datePicker">
                                            <span class="feather icon-calendar"></span>

                                            <input type="text"
                                                   ng-model="privTrip.context.privateTripItem.untilDate"
                                                   id="private-trip-until-date"
                                                   ng-class="{'--invalid': privTrip.tripDatesOnConflict || (privTrip.privateTripForm.untilDate.$error.required && privTrip.privateTripForm.untilDate.$dirty)}"
                                                   name="untilDate" required
                                                   class="form-body__text form-body__text form-body__text--right-fix form-control"
                                                   autocomplete="off">
                                        </div>
                                        <div class="--invalid-text">
                                            <p ng-if="privTrip.privateTripForm.untilDate.$error.required && privTrip.privateTripForm.untilDate.$dirty"> Este campo es requerido. </p>
                                            <p ng-if="privTrip.tripDatesOnConflict">Conflicto de fecha con viajes anteriores</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" ng-if="privTrip.context.privateTripItem.usedVehicle.property === 'Taxi'">
                                    <div class="form-group">
                                        <span class="feather icon-alert-circle"
                                              ng-if="privTrip.privateTripForm.tripCostTaxi.$error.required && privTrip.privateTripForm.tripCostTaxi.$dirty"></span>
                                        <label class="form-body__label" for="private-invoice-cost-taxi">Costo</label>
                                        <input type="text" class="form-body__text form-control"
                                               ng-model="privTrip.context.privateTripItem.tripCost"
                                               ng-pattern="privTrip.config.regex.numberMayorThanZero"
                                               ng-currency currency-symbol="{{privTrip.expenseRepository.expenseRequest.request.currency + '$ '}} "
                                               name="tripCostTaxi" ng-required="privTrip.context.privateTripItem.usedVehicle.property === 'Taxi' || privTrip.context.privateTripItem.haveInvoice"
                                               ng-class="{'--invalid':privTrip.privateTripForm.tripCostTaxi.$error.required && privTrip.privateTripForm.tripCostTaxi.$dirty}"
                                               id="private-invoice-cost-taxi"
                                               placeholder="">

                                        <div class="--invalid-text">
                                            <p ng-if="privTrip.privateTripForm.tripCostTaxi.$error.required && privTrip.privateTripForm.tripCostTaxi.$dirty"> Este campo es requerido. </p>
                                            <p ng-if="privTrip.privateTripForm.tripCostTaxi.$dirty && privTrip.privateTripForm.tripCostTaxi.$touched && !privTrip.privateTripForm.tripCostTaxi.$valid"> Digite un monto valido. </p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!--NCF-->
                    <div class="col-6">
                        <p class="modal-upload-info__text modal-upload-info__text--fullmargin">
                            Con Factura
                        </p>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <div class="mt-square" style="font-size:9px;">
                            <input id="private-trip-invoice-chk" type="checkbox"
                                   ng-change="privTrip.cleanInvoiceInfo()"
                                   ng-model="privTrip.context.privateTripItem.haveInvoice">
                            <label for="private-trip-invoice-chk"></label>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="privTrip.context.privateTripItem.haveInvoice">
                        <div class="row">
                            <div class="col-md-12">
                                <div action="" class="form-body form-container">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.rnc.$error.required && privTrip.privateTripForm.rnc.$dirty"></span>
                                                <label class="form-body__label" for="private-trip-modal-rnc">RNC:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="privTrip.context.privateTripItem.invoice.rnc"
                                                       ng-blur="privTrip.validateNCF()"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.rnc.$error.required && privTrip.privateTripForm.rnc.$dirty}"
                                                       name="rnc" ng-required="privTrip.context.privateTripItem.haveInvoice"
                                                       id="private-trip-modal-rnc">

                                                <div class="--invalid-text"
                                                     ng-if="privTrip.privateTripForm.rnc.$error.required && privTrip.privateTripForm.rnc.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.ncf.$error.required && privTrip.privateTripForm.ncf.$dirty"></span>
                                                <label class="form-body__label" for="private-trip-modal-ncf">NCF:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="privTrip.context.privateTripItem.invoice.ncf"
                                                       ng-blur="privTrip.validateNCF()"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.ncf.$error.required && privTrip.privateTripForm.ncf.$dirty}"
                                                       name="ncf" ng-required="privTrip.context.privateTripItem.haveInvoice"
                                                       id="private-trip-modal-ncf">

                                                <div class="--invalid-text">
                                                    <p ng-if="privTrip.privateTripForm.ncf.$error.required && privTrip.privateTripForm.ncf.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="  privTrip.context.invalidNCF"> NCF o RNC invalido. </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.tripCost.$error.required && privTrip.privateTripForm.tripCost.$dirty"></span>
                                                <label class="form-body__label" for="private-invoice-cost">Costo</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="privTrip.context.privateTripItem.tripCost"
                                                       ng-currency currency-symbol="{{privTrip.expenseRepository.expenseRequest.request.currency + '$ '}} "
                                                       name="tripCost" ng-required="privTrip.context.privateTripItem.haveInvoice"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.tripCost.$error.required && privTrip.privateTripForm.tripCost.$dirty}"
                                                       id="private-invoice-cost"
                                                       placeholder="">

                                                <div class="--invalid-text">
                                                    <p ng-if="privTrip.privateTripForm.tripCost.$error.required && privTrip.privateTripForm.tripCost.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="privTrip.privateTripForm.tripCost.$dirty && privTrip.privateTripForm.tripCost.$touched && !privTrip.privateTripForm.tripCost.$valid"> Digite un monto valido. </p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-body__label" for="private-modal-supplier">Suplidor:</label>
                                                <input type="text" class="form-body__text form-control --disabled"
                                                       value="{{privTrip.context.privateTripItem.invoice.supplier}}"
                                                       disabled="disabled"
                                                       name="supplier"
                                                       ng-required="privTrip.context.privateTripItem.haveInvoice"
                                                       id="private-modal-supplier">

                                                <div class="--invalid-text">
                                                    <p ng-if="privTrip.context.invalidNCF"> Suplidor no encontrado. </p>
                                                </div>

                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!--END NCF-->
                    <!--KEEP-->
                    <div class="col-6">
                        <p class="modal-upload-info__text modal-upload-info__text--fullmargin">
                            Hospedaje
                        </p>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <div class="mt-square" style="font-size:9px;">
                            <input id="lodgement-chk" type="checkbox"
                                   ng-change="privTrip.cleanLodgementInfo()"
                                   ng-model="privTrip.context.privateTripItem.haveLodgement">
                            <label for="lodgement-chk"></label>
                        </div>
                    </div>

                    <div class="col-md-12" ng-show="privTrip.context.privateTripItem.haveLodgement">
                        <div class="row">
                            <div class="col-md-12">
                                <div action="" class="form-body form-container">
                                    <div class="form-row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.lodgementType.$error.required && privTrip.privateTripForm.lodgementType.$dirty"></span>
                                                <label class="form-body__label" for="lodgement-type">Tipo Hospedaje</label>
                                                <select class="form-body__select form-control"
                                                        ng-model="privTrip.context.privateTripItem.lodgement.lodgementType"
                                                        ng-class="{'--invalid':privTrip.privateTripForm.lodgementType.$error.required && privTrip.privateTripForm.lodgementType.$dirty}"
                                                        name="lodgementType" ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                        id="lodgement-type"
                                                        ng-options="property for property in privTrip.lodgementTypes"></select>

                                                <div class="--invalid-text"
                                                     ng-if="privTrip.privateTripForm.lodgementType.$error.required && privTrip.privateTripForm.lodgementType.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.lodgementType.$error.required && privTrip.privateTripForm.lodgementType.$dirty"></span>
                                                <label class="form-body__label" for="lodgement-name">Nombre Lugar</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="privTrip.context.privateTripItem.lodgement.lodgementName"
                                                       name="lodgementName" ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.lodgementName.$error.required && privTrip.privateTripForm.lodgementName.$dirty}"
                                                       id="lodgement-name"
                                                       placeholder="">

                                                <div class="--invalid-text"
                                                     ng-if="privTrip.privateTripForm.lodgementType.$error.required && privTrip.privateTripForm.lodgementType.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.lodgementDaysQuantity.$error.required && privTrip.privateTripForm.lodgementDaysQuantity.$dirty"></span>
                                                <label class="form-body__label" for="lodgement-days-quantity'quantity">Cant. Noches</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-blur="privTrip.calculateLodgementCost();"
                                                       ng-currency
                                                       max="{{privTrip.expenseRepository.expenseRequest.request.calendarDaysQuantity}}"
                                                       currency-symbol=" " fraction="0"
                                                       ng-pattern="privTrip.config.regex.numberMayorThanZero"
                                                       ng-model="privTrip.context.privateTripItem.lodgement.lodgementDaysQuantity"
                                                       name="lodgementDaysQuantity" ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.lodgementDaysQuantity.$error.required && privTrip.privateTripForm.lodgementDaysQuantity.$dirty}"
                                                       id="lodgement-days-quantity'quantity"
                                                       placeholder="">


                                                <div class="--invalid-text">
                                                    <p ng-if="privTrip.privateTripForm.lodgementDaysQuantity.$error.required && privTrip.privateTripForm.lodgementDaysQuantity.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="privTrip.privateTripForm.lodgementDaysQuantity.$dirty && privTrip.privateTripForm.lodgementDaysQuantity.$touched && !privTrip.privateTripForm.lodgementDaysQuantity.$valid">
                                                        Esta cantidad de días no es valida.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.lodgementCost.$error.required && privTrip.privateTripForm.lodgementCost.$dirty"></span>
                                                <label class="form-body__label" for="lodgement-cost">Costo por Noche</label>
                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="privTrip.context.privateTripItem.lodgement.lodgementCost"
                                                       ng-blur="privTrip.calculateLodgementCost();"
                                                       ng-currency currency-symbol="{{privTrip.expenseRepository.expenseRequest.request.currency + '$ '}} " min="0" hard-cap="true"
                                                       name="lodgementCost" ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.lodgementCost.$error.required && privTrip.privateTripForm.lodgementCost.$dirty}"
                                                       id="lodgement-cost"
                                                       placeholder="">

                                                <div class="--invalid-text">

                                                    <p ng-if="privTrip.privateTripForm.lodgementDaysQuantity.$dirty && privTrip.privateTripForm.lodgementDaysQuantity.$touched && !privTrip.privateTripForm.lodgementDaysQuantity.$valid"> Digite un monto valido. </p>
                                                    <p ng-if="privTrip.privateTripForm.lodgementCost.$error.required && privTrip.privateTripForm.lodgementCost.$dirty"> Este campo es requerido. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-body__label" for="lodgement-total-cost">Costo Total Periodo</label>
                                                <input type="text" class="form-body__text form-control  --disabled"
                                                       ng-model="privTrip.context.privateTripItem.lodgement.lodgementTotalCost"
                                                       ng-currency currency-symbol="{{privTrip.expenseRepository.expenseRequest.request.currency + '$ '}} " min="0" hard-cap="true"
                                                       name="lodgementTotalCost" ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                       id="lodgement-total-cost"
                                                       disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.rncLodgement.$error.required && privTrip.privateTripForm.rncLodgement.$dirty"></span>
                                                <label class="form-body__label" for="private-trip-modal-lodgement-rnc">RNC:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="privTrip.context.privateTripItem.lodgement.invoice.rnc"
                                                       ng-blur="privTrip.validateNCFLodgement()"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.rncLodgement.$error.required && privTrip.privateTripForm.rncLodgement.$dirty}"
                                                       name="rncLodgement" ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                       id="private-trip-modal-lodgement-rnc">

                                                <div class="--invalid-text"
                                                     ng-if="privTrip.privateTripForm.rncLodgement.$error.required && privTrip.privateTripForm.rncLodgement.$dirty">
                                                    <p> Este campo es requerido. </p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="feather icon-alert-circle"
                                                      ng-if="privTrip.privateTripForm.ncfLodgement.$error.required && privTrip.privateTripForm.ncfLodgement.$dirty"></span>
                                                <label class="form-body__label" for="private-trip-modal-lodgement-ncf">NCF:</label>

                                                <input type="text" class="form-body__text form-control"
                                                       ng-model="privTrip.context.privateTripItem.lodgement.invoice.ncf"
                                                       ng-blur="privTrip.validateNCFLodgement()"
                                                       ng-class="{'--invalid':privTrip.privateTripForm.ncfLodgement.$error.required && privTrip.privateTripForm.ncfLodgement.$dirty}"
                                                       name="ncfLodgement" ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                       id="private-trip-modal-lodgement-ncf">

                                                <div class="--invalid-text">
                                                    <p ng-if="privTrip.privateTripForm.ncfLodgement.$error.required && privTrip.privateTripForm.ncfLodgement.$dirty"> Este campo es requerido. </p>
                                                    <p ng-if="  privTrip.context.invalidLodgementNCF"> NCF o RNC invalido. </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-body__label" for="private-modal-lodgement-supplier">Suplidor:</label>
                                                <input type="text" class="form-body__text form-control --disabled"
                                                       value="{{privTrip.context.privateTripItem.lodgement.invoice.supplier}}"
                                                       disabled="disabled"
                                                       name="supplierLodgement"
                                                       ng-required="privTrip.context.privateTripItem.haveLodgement"
                                                       id="private-modal-lodgement-supplier">

                                                <div class="--invalid-text">
                                                    <p ng-if="privTrip.context.invalidLodgementNCF"> Suplidor no encontrado. </p>
                                                </div>

                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                    <!--END KEEP-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="actions-expenses">
                            <button type="button" class="actions-expenses__button actions-expenses__button--cancelar"
                                    ng-click="privTrip.closePrivateTripModal()">
                                Cancelar
                            </button>
                            <button type="button" class="actions-expenses__button actions-expenses__button--expenses"
                                    ng-disabled="privTrip.context.invalidLodgementNCF || privTrip.context.invalidNCF || privTrip.tripDatesOnConflict  || ( privTrip.context.firstClick && !privTrip.privateTripForm.$valid)"
                                    ng-class="{'--disabled': privTrip.tripDatesOnConflict  || ( privTrip.context.firstClick && !privTrip.privateTripForm.$valid) } "
                                    ng-click="privTrip.addPrivateTrip()">
                                Reportar Viaje
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>