<link rel="stylesheet" href="../../../css/Portal/dashboard-style.css">

<link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="d-flex" id="content-wrapper">

    <!-- Sidebar -->
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class="text-light font-weight-bold mb-0"> {{layout.userService.currentUser.role}}</h4>
        </div>
        <div class="menu" ng-show="layout.userService.currentUser.role === 'Administrador'">
            <a href="#/" class="d-block text-light p-3 border-0 active-menu-option">Inicio</a>
            <a href="#/admin/offices" class="d-block text-light p-3 border-0">Consultorios</a>
            <a href="#/admin/doctors" class="d-block text-light p-3 border-0">Doctores</a>
            <a href="#/admin/specialties" class="d-block text-light p-3 border-0">Servicios</a>
            <a href="#/admin/secretaries" class="d-block text-light p-3 border-0">Ver Secretarias</a>
        </div>

        <div class="menu" ng-show="layout.userService.currentUser.role === 'Paciente'">
            <a href="#/" class="d-block text-light p-3 border-0 active-menu-option">Inicio</a>
            <a href="#/patient/reserve" class="d-block text-light p-3 border-0">Elaborar Cita</a>
            <a href="#/patient/myreserve" class="d-block text-light p-3 border-0">Ver mis Citas</a>
            <a href="#/patient/viewdoctors" class="d-block text-light p-3 border-0">Ver Doctores</a>
        </div>

        <div class="menu" ng-show="layout.userService.currentUser.role === 'Doctor'">
            <a href="#/" class="d-block text-light p-3 border-0 active-menu-option">Inicio</a>
            <a href="#/doctor/doctorreserves" class="d-block text-light p-3 border-0">Ver Citas</a>
        </div>

        <div class="menu" ng-show="layout.userService.currentUser.role === 'Secretario'">
            <a href="#/" class="d-block text-light p-3 border-0 active-menu-option">Inicio</a>
            <a href="#/secretary/viewreserve" class="d-block text-light p-3 border-0">Ver Citas</a>
        </div>
    </div>
    <!-- Fin sidebar -->

    <div class="w-100">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle"
                               ng-click="layout.showNavBar = !layout.showNavBar"
                               href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../../assets/images/usuario.jpg" class="img-fluid rounded-circle avatar mr-2" alt="https://generated.photos/" /> {{layout.userService.currentUser.name}} {{layout.userService.currentUser.lastName}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" ng-class="{'show': layout.showNavBar}" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="Identity/Account/Manage/Index">Mi perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/">Home</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Fin Navbar -->
        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

            <div ng-view id="content-view"></div>
        </div>
    </div>
</div>