@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="/assets/images/odontologia.jpg">
    <div class="overlay-bg overlay"></div>
    <h1 class="template-name">ATIENDEME</h1>
    <div class="container">
        <div class="row fullscreen">
            <div class="banner-login-content col-lg-12 ">

                <div class="row p-5 bg-gra-01">

                    <div class="col-md-12">

                        <h2 class="text-white">
                            ¡Cuenta confirmada! <br />
                            Ya puede acceder al Portal.
                        </h2>
                    </div>

                 
                </div>
            </div>
        </div>
    </div>
</section>