@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion - Olvido su Contraseña";
} 
<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="/assets/images/odontologia.jpg">
    <div class="overlay-bg overlay"></div>
    <h1 class="template-name">ATIENDEME</h1>
    <div class="container">
        <div class="row fullscreen">
            <div class="banner-login-content col-lg-12 ">

                <div class="row p-5 bg-gra-01">

                    <div class="col-md-12">

                        <h2 class="text-white">
                           Revise su correo para cambiar su contraseña.  
                        </h2>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>