@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvido su contraseña?";
}
 


<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="/assets/images/odontologia.jpg">
    <div class="overlay-bg overlay"></div>
    <h1 class="template-name">ATIENDEME</h1>
    <div class="container">
        <div class="row fullscreen">
            <div class="banner-login-content col-lg-12 ">

                <div class="row p-5 bg-gra-01">

                    <div class="col-md-6 d-none d-md-block">
                        <img src="~/assets/images/dentista-nina.jpg" class="img-thumbnail" />
                    </div>

                    <div class="col-md-6 m-auto">
                        <section>
                            <form method="post">
                                <p class="text-white">Escriba su correo para recuperar su cuenta.</p>
                                 
                                <div class="form-group">
                                    <label asp-for="Input.Email">Correo</label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Enviar</button>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
