@page
@model RegisterConfirmationModel
@using System.Threading;
@{
    ViewData["Title"] = "Confirmar Correo";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {

        <section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="/assets/images/odontologia.jpg">
            <div class="overlay-bg overlay"></div>
            <h1 class="template-name">ATIENDEME</h1>
            <div class="container">
                <div class="row fullscreen">
                    <div class="banner-login-content col-lg-12 ">

                        <div class="row p-5 bg-gra-01">

                            <div class="col-md-12">

                                <h2 class="text-white">
                                    ¡Ya casi es miembro de nuestra comunidad! <br />
                                    Verifique su correo para la confirmacion de su cuenta.
                                </h2>
                            </div>

                            @if (!Model.EmailResended)
                            {
                                <div class="col-md-12 mt-3">

                                    <form method="post" asp-route-email="@Model.Email">
                                        <p class="text-white">
                                            ¿No llego el correo?
                                            <button type="submit" class="btn btn-outline-light ml-3">Reenviar</button>
                                        </p>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}