@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación cambio de pswd";
}


<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="/assets/images/odontologia.jpg">
    <div class="overlay-bg overlay"></div>
    <h1 class="template-name">ATIENDEME</h1>
    <div class="container">
        <div class="row fullscreen">
            <div class="banner-login-content col-lg-12 ">

                <div class="row p-5 bg-gra-01">

                    <div class="col-md-12">

                        <h3 class="text-white">
                           Su contraseña ha sido modificada. Por favor dar click <a asp-page="./Login">aquí</a> para ingresar <br />
                        </h3>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>