@using Microsoft.AspNetCore.Identity
@using Atiendeme.Entidades.Entidades.SQL;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <li><a class="text-danger" asp-area="" asp-controller="Portal" asp-action="Index">Portal</a></li>

    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola, @User.Identity.Name!</a>
    </li>
    <li>

        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn text-white" style="padding-top: 2px;">
                <span style="font-size: 20px" class="fa fa-sign-out-alt icon-fontawesome-service"></span>
            </button>
        </form>


    </li>
}
else
{

    <li><a asp-area="Identity" asp-page="/Account/Register">Registrarse</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a></li>

}
@*</ul>*@