@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/angular-moment-picker/angular-moment-picker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.4/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css" integrity="sha512-EBuWVrkZxt0p05Jmr52plk9OtJITEgGU/xnQRcIxGNCIF0A50wfqEY+t1/Cpxfc614SbSur8+F23RGJh4gaolw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" />
    <style>
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(https://webstockreview.net/images/tooth-clipart-animation-3.gif) center no-repeat #020202a3;
        }

        .multiSelect > button {
            width: 100%
        }

        ul {
            padding-left: 16%;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.4/dist/sweetalert2.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.js" integrity="sha512-ePpT0cD6eXIN+wLmRQM337Dbpqomqfx4EnTb/QR5wJFgbWgm3VGYF85mOrzSppEBY5x6dZbcNcUWDN4XPPp7aQ==" crossorigin="anonymous"></script>
    <script src="/lib/moment/moment.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

    <script src="/lib/moment/es-do.js"></script>
    <script src="/lib/angular-moment-picker/angular-moment-picker.min.js"></script>
</head>

<body ng-app="atiendeme">

    <div id="loader" class="se-pre-con" style="display: none"></div>

    @*layout*@
    <layout-template></layout-template>

    @*apps*@
    <script src="/js/AngularJS/app.js"></script>
    <script src="/js/AngularJS/app.routing.js"></script>

    @*Repositories *@
    <script src="~/js/AngularJS/Repository/userRepository.js"></script>
    <script src="~/js/AngularJS/Repository/officeRepository.js"></script>
    <script src="~/js/AngularJS/Repository/specialtiesRepository.js"></script>

    <script src="~/js/AngularJS/Repository/doctorRepository.js"></script>
    <script src="~/js/AngularJS/Repository/reserveRepository.js"></script>
    <script src="~/js/AngularJS/Repository/dependentRepository.js"></script>

    @*SERVICES*@
    <script src="~/js/AngularJS/Services/userService.js"></script>
    <script src="~/js/AngularJS/Services/officeService.js"></script>
    <script src="~/js/AngularJS/Services/doctorService.js"></script>
    <script src="~/js/AngularJS/Services/dependentService.js"></script>
    <script src="~/js/AngularJS/Services/reserveService.js"></script>

    <script src="~/js/AngularJS/Services/specialtiesService.js"></script>
    <script src="~/js/AngularJS/Services/notificationService.js"></script>
    <script src="~/js/AngularJS/Services/Commons/httpLoadingInterceptor.js"></script>
    @*Layout*@
    <script src="~/js/AngularJS/Components/Layout/layoutTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Layout/layoutController.js"></script>
    @*end layout*@

    @*dashboard*@
    <script src="~/js/AngularJS/Components/Dashboard/dashboardTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Dashboard/dashboardController.js"></script>
    @*end dashboard*@

    @*#Admin section*@

    @*offices*@
    <script src="~/js/AngularJS/Components/Admin/Offices/officesTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Admin/Offices/officesController.js"></script>
    @*end offices*@

    @*specialties*@
    <script src="~/js/AngularJS/Components/Admin/Specialties/specialtiesTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Admin/Specialties/specialtiesController.js"></script>
    @*end offices*@

    @*doctors*@
    <script src="~/js/AngularJS/Components/Admin/Doctors/doctorsTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Admin/Doctors/doctorsControllers.js"></script>

    @*end doctors*@
    @*End Admin section*@

    @*patient*@
    <script src="~/js/AngularJS/Components/Patient/Reserve/reserveTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Patient/Reserve/reserveController.js"></script>

    <script src="~/js/AngularJS/Components/Patient/MyReserve/myReserveTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Patient/MyReserve/myReserveController.js"></script>

    <script src="~/js/AngularJS/Components/Patient/Doctors/doctorViewTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Patient/Doctors/doctorViewController.js"></script>

    <script src="~/js/AngularJS/Components/Patient/Dependent/dependentTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Patient/Dependent/dependentController.js"></script>



    @*end patient*@
</body>
</html>