@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/angular-moment-picker/angular-moment-picker.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js"></script>

    <script src="/lib/moment/moment.js"></script>
    <script src="/lib/moment/es-do.js"></script>
    <script src="/lib/angular-moment-picker/angular-moment-picker.min.js"></script>
</head>

<body ng-app="atiendeme">

    @*layout*@
    <layout-template></layout-template>

    @*apps*@
    <script src="/js/AngularJS/app.js"></script>
    <script src="/js/AngularJS/app.routing.js"></script>

    @*Repositories *@
    <script src="~/js/AngularJS/Repository/userRepository.js"></script>

    @*SERVICES*@
    <script src="~/js/AngularJS/Services/userService.js"></script>

    @*Layout*@
    <script src="~/js/AngularJS/Components/Layout/layoutTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Layout/layoutController.js"></script>
    @*end layout*@

    @*dashboard*@
    <script src="~/js/AngularJS/Components/Dashboard/dashboardTemplate.js"></script>
    <script src="~/js/AngularJS/Components/Dashboard/dashboardController.js"></script>
    @*end dashboard*@
</body>
</html>