<div class="row">
    <div class="col-md-12">
        <div class="form-container --form-margin">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title-form title-form--inline">Transporte Privado</h3>
                        <div class="btn-container btn-container--inline btn-container--right" ng-show="transport.context.havePrivateTrips && transport.isEditable">
                            <button type="button" class="modal-opener-file"
                                    ng-click="transport.showPrivateVehicleModal()">
                                <span class="feather icon-plus"></span>Agregar
                                Vehículo
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-square" style="font-size:9px;" ng-show="transport.isEditable">
                            <input id="have-private-trips" type="checkbox"
                                   ng-change="transport.confirmDisablePrivateTripsCheck()"
                                   ng-model="transport.context.havePrivateTrips">
                            <label for="have-private-trips"></label>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-body form-body--nopaddin-top" ng-show="transport.context.havePrivateTrips">
                <div class="bill-list bill-list--no-margin">
                    <div class="bill-list-item"
                         ng-hide="vehicle.deleted"
                         ng-repeat="vehicle in transport.expenseRepository.expenseRequest.privateVehicles">
                        <div class="bill-list-item__text">
                            <div class="plate-and-actions d-md-flex justify-content-md-between">
                                <h3 class="title title--margin-2">
                                    <span class="id-travel"># VP-{{$index + 1}}</span>
                                    {{vehicle.vehicleType}}:
                                    <span class="number --no-block"> {{vehicle.vehiclePlate || 'Taxi'}}</span>
                                </h3>
                                <div class="bill-list__icon">
                                    <button type="button" ng-show="transport.isEditable" ng-click="transport.editPrivateVehicle(vehicle, $index)"><span class="feather icon-edit"></span></button>
                                    <button type="button" ng-show="transport.isEditable" ng-click="transport.deletePrivateVehicle(vehicle, $index)"><span class="feather icon-trash --red"></span></button>

                                    <button type="button" data-toggle="collapse" ng-show="vehicle.property === 'Rentado'"
                                            ng-click="transport.collapseVehicleInvoiceInfo(vehicle,$index)"
                                            data-target="#vehicle-collapse-{{$index}}" aria-expanded="false"
                                            aria-controls="vehicle-collapse-{{$index}}"
                                            ng-init="vehicle.buttonDirection = 'down'"
                                            id="vehicle-collapsed-button-{{$index}}">
                                        <span class="feather icon-chevron-{{vehicle.buttonDirection}} color--blue"></span>
                                    </button>

                                </div>
                            </div>

                            <div class="city">
                                <div class="test">
                                    <div class="row">
                                        <div class="col-md-4" ng-show="vehicle.vehiclePlate">
                                            <span class="expenses ruta">
                                                <span class="light">
                                                    <i class="feather icon-bookmark"></i>
                                                    Placa:
                                                </span>
                                                <span class="value">
                                                    {{vehicle.vehiclePlate}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="expenses costo">
                                                <span class="light">
                                                    <i class="feather icon-shield"></i>
                                                    Propiedad:
                                                </span>
                                                <span class="value">
                                                    {{vehicle.property}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="expenses distancia">
                                                <span class="light">
                                                    <i class="feather icon-truck"></i>
                                                    Tipo:
                                                </span>
                                                <span class="value">
                                                    {{vehicle.vehicleType}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4" ng-show="vehicle.company">
                                            <span class="expenses fecha">
                                                <span class="light light--flex-fix">
                                                    <i class="feather icon-box"></i>
                                                    Compañia:
                                                </span>
                                                <span class="value">
                                                    {{vehicle.company}}
                                                </span>
                                            </span>
                                        </div>

                                        <div class="col-md-4">
                                            <span class="expenses fecha">
                                                <span class="light light--flex-fix">
                                                    <i class="feather icon-file-text"></i>
                                                    Factura:
                                                </span>
                                                <span class="value">
                                                    {{vehicle.property === 'Rentado' ? 'Si' : 'No'}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse"
                                 ng-show="vehicle.property === 'Rentado'"
                                 id="vehicle-collapse-{{$index}}">

                                <h3 class="title title--margin-2 title--margin-top" ng-show="vehicle.property === 'Rentado'">
                                    Factura:
                                </h3>
                                <div class="city" ng-show="vehicle.property === 'Rentado'">
                                    <div class="test">
                                        <div class="row">

                                            <div class="col-md-4" ng-show="vehicle.vehicleCost">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-dollar-sign"></i>
                                                        Costo de la Renta:
                                                    </span>
                                                    <span class="value">

                                                        {{vehicle.vehicleCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                    </span>
                                                </span>
                                            </div>

                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-package"></i>
                                                        Suplidor:
                                                    </span>
                                                    <span class="value">
                                                        {{vehicle.invoice.supplier}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        RNC:
                                                    </span>
                                                    <span class="value">
                                                        {{vehicle.invoice.rnc}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        NCF:
                                                    </span>
                                                    <span class="value">
                                                        {{vehicle.invoice.ncf}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="transport.context.havePrivateTrips">
    <div class="col-md-12">
        <div class="form-container --form-margin">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title-form title-form--inline">Viajes Privados</h3>
                        <div class="btn-container btn-container--inline btn-container--right">
                            <button type="button" class="modal-opener-file"
                                    ng-click="transport.showPrivateTripModal()"
                                    ng-show="transport.isEditable"
                                    ng-class="{'--disabled': transport.context.allVehiclesHaveLogicalDeleted || !transport.expenseRepository.expenseRequest.privateVehicles.length}"
                                    ng-disabled="transport.context.allVehiclesHaveLogicalDeleted || !transport.expenseRepository.expenseRequest.privateVehicles.length">
                                <span class="feather icon-plus"></span>Agregar
                                Viaje
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-body form-body--nopaddin-top">
                <div class="bill-list bill-list bill-list--has-scroll">
                    <div class="bill-list-item"
                         ng-hide="trip.deleted"
                         ng-repeat="trip in transport.expenseRepository.expenseRequest.privateTrips">
                        <div class="bill-list-item__text">
                            <div class="plate-and-actions d-md-flex justify-content-md-between">
                                <h3 class="title title--margin-2">
                                    <span class="id-travel"># PRT-{{$index + 1}}</span>
                                    {{trip.vehicleType}}:
                                    <span class="number --no-block"> {{(trip.usedVehicle.vehiclePlate || trip.usedVehicle.company) + ' - ' + trip.usedVehicle.vehicleType + ' (' + trip.usedVehicle.property + ') '}}</span>
                                </h3>
                                <div class="bill-list__icon">
                                    <button type="button" ng-show="transport.isEditable" ng-click="transport.editPrivateTrip(trip, $index)"><span class="feather icon-edit"></span></button>
                                    <button type="button" ng-show="transport.isEditable" ng-click="transport.deletePrivateTrip(trip, $index)"><span class="feather icon-trash --red"></span></button>
                                    <button type="button" data-toggle="collapse" ng-show="trip.haveLodgement || trip.haveInvoice"
                                            ng-click="transport.collapseLodgementInfo(trip,$index)"
                                            data-target="#lodgement-collapse-{{$index}}" aria-expanded="false"
                                            aria-controls="lodgement-collapse-{{$index}}"
                                            ng-init="trip.buttonDirection = 'down'"
                                            id="collapsed-button-{{$index}}">
                                        <span class="feather icon-chevron-{{trip.buttonDirection}} color--blue"></span>
                                    </button>
                                </div>

                            </div>
                            <div class="city">
                                <div class="test">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="expenses ruta">
                                                <span class="light">
                                                    <i class="feather icon-map"></i>
                                                    Origen:
                                                </span>
                                                <span class="value">
                                                    {{trip.fromLocation.name }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="expenses ruta">
                                                <span class="light">
                                                    <i class="feather icon-map"></i>
                                                    Destino:
                                                </span>
                                                <span class="value">
                                                    {{trip.untilLocation.name}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="expenses fecha">
                                                <span class="light light--flex-fix">
                                                    <i class="feather icon-calendar"></i>
                                                    Fecha:
                                                </span>
                                                <span class="value">
                                                    {{trip.fromDate}} - {{trip.untilDate}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="expenses fecha">
                                                <span class="light light--flex-fix">
                                                    <i class="feather icon-file-text"></i>
                                                    Factura:
                                                </span>
                                                <span class="value">
                                                    {{trip.haveInvoice ? 'Si' : 'No'}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="expenses distancia">
                                                <span class="light">
                                                    <i class="feather icon-map-pin"></i>
                                                    Distancia:
                                                </span>
                                                <span class="value">
                                                    {{trip.traveledDistance}} Kms
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4" ng-if="trip.usedVehicle.property === 'Propio'">
                                            <span class="expenses costo">
                                                <span class="light">
                                                    <i class="feather icon-dollar-sign"></i>
                                                    Pago por Km:
                                                </span>
                                                <span class="value">
                                                    {{trip.tripCostPerKm | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                </span>
                                            </span>
                                        </div>

                                        <div class="col-md-4" ng-if="trip.usedVehicle.property === 'Taxi'">
                                            <span class="expenses costo">
                                                <span class="light">
                                                    <i class="feather icon-dollar-sign"></i>
                                                   Costo:
                                                </span>
                                                <span class="value">
                                                    {{trip.tripCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                </span>
                                            </span>
                                        </div>

                                        <div class="col-md-4">
                                            <span class="expenses hospedaje">
                                                <span class="light">
                                                    <i class="feather icon-home"></i>
                                                    Hospedaje:
                                                </span>
                                                <span class="value">
                                                    {{trip.haveLodgement ? 'Si' : 'No'}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="collapse bill-list--has-scroll"
                                 ng-show="trip.haveLodgement || trip.haveInvoice"
                                 id="lodgement-collapse-{{$index}}">

                                <h3 class="title title--margin-2 title--margin-top" ng-show="trip.haveInvoice">
                                    Factura:
                                </h3>
                                <div class="city" ng-show="trip.haveInvoice">
                                    <div class="test">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-package"></i>
                                                        Suplidor:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.invoice.supplier}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        RNC:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.invoice.rnc}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        NCF:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.invoice.ncf}}
                                                    </span>
                                                </span>
                                            </div>

                                            <div class="col-md-4">

                                                <span class="expenses costo">
                                                    <span class="light">
                                                        <i class="feather icon-dollar-sign"></i>
                                                        Costo:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.tripCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                    </span>
                                                </span>


                                            </div>

                                        </div>


                                    </div>
                                </div>

                                <h3 class="title title--margin-2 title--margin-top" ng-show="trip.haveLodgement">
                                    Hospedaje:
                                </h3>
                                <div class="city" ng-show="trip.haveLodgement">
                                    <div class="test">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-home"></i>
                                                        Tipo de Hospedaje:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementType}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-info"></i>
                                                        Nombre de Hospedaje:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementName}}
                                                    </span>
                                                </span>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-moon"></i>
                                                        Cantidad de noches:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementDaysQuantity}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses costo">
                                                    <span class="light">
                                                        <i class="feather icon-dollar-sign"></i>
                                                        Costo por Noche:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses costo">
                                                    <span class="light">
                                                        <i class="feather icon-dollar-sign"></i>
                                                        Costo Total:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementTotalCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-package"></i>
                                                        Suplidor:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.invoice.supplier}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        RNC:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.invoice.rnc}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        NCF:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.invoice.ncf}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--END PRIVATE-->
<!--PUBLIC-->
<div class="row">
    <div class="col-md-12">
        <div class="form-container --form-margin">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title-form title-form--inline">Transporte público</h3>

                        <div class="btn-container btn-container--inline btn-container--right" ng-show="transport.context.havePublicTrips && transport.isEditable">
                            <button type="button" class="modal-opener-file"
                                    ng-click="transport.showPublicTripModal()">
                                <span class="feather icon-plus"></span>Agregar
                                Viaje
                            </button>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="mt-square" style="font-size:9px;" ng-show="transport.isEditable">
                            <input id="have-public-trips" type="checkbox"
                                   ng-change="transport.confirmDisablePublicTripsCheck()"
                                   ng-model="transport.context.havePublicTrips">
                            <label for="have-public-trips"></label>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="form-body form-body--nopaddin-top" ng-show="transport.context.havePublicTrips">
                <div class="bill-list bill-list--no-margin bill-list--has-scroll">


                    <div class="bill-list-item"
                         ng-hide="trip.deleted"
                         ng-repeat="trip in transport.expenseRepository.expenseRequest.publicTrips">
                        <div class="bill-list-item__text ">
                            <div class="plate-and-actions d-md-flex justify-content-md-between">
                                <h3 class="title title--margin-2">
                                    <span class="id-travel"># PUT-{{$index + 1}}</span>
                                    {{trip.vehicleType}}:
                                    <span class="number --no-block"> {{trip.company}}</span>
                                </h3>
                                <div class="bill-list__icon">
                                    <button type="button" ng-show="transport.isEditable" ng-click="transport.editPublicTrip(trip, $index)"><span class="feather icon-edit"></span></button>
                                    <button type="button" ng-show="transport.isEditable" ng-click="transport.deletePublicTrip(trip, $index)"><span class="feather icon-trash --red"></span></button>
                                    <button type="button" data-toggle="collapse"
                                            ng-click="transport.collapsePublicLodgementInfo(trip,$index)"
                                            ng-show="trip.haveLodgement || trip.haveInvoice"
                                            data-target="#public-lodgement-collapse-{{$index}}" aria-expanded="false"
                                            aria-controls="public-lodgement-collapse-{{$index}}"
                                            ng-init="trip.buttonDirection = 'down'"
                                            id="public-collapsed-button-{{$index}}">
                                        <span class="feather icon-chevron-{{trip.buttonDirection}} color--blue"></span>
                                    </button>
                                </div>

                            </div>
                            <div class="city">
                                <div class="test">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="expenses ruta">
                                                <span class="light">
                                                    <i class="feather icon-map"></i>
                                                    Origen:
                                                </span>
                                                <span class="value">
                                                    {{trip.fromLocation.name }}
                                                </span>
                                            </span>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="expenses ruta">
                                                <span class="light">
                                                    <i class="feather icon-map"></i>
                                                    Destino:
                                                </span>
                                                <span class="value">
                                                    {{trip.untilLocation.name}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="expenses fecha">
                                                <span class="light light--flex-fix">
                                                    <i class="feather icon-calendar"></i>
                                                    Fecha:
                                                </span>
                                                <span class="value">
                                                    {{trip.fromDate}} - {{trip.untilDate}}
                                                </span>
                                            </span>
                                        </div>

                                        <div class="col-md-4">
                                            <span class="expenses fecha">
                                                <span class="light light--flex-fix">
                                                    <i class="feather icon-file-text"></i>
                                                    Factura:
                                                </span>
                                                <span class="value">

                                                    {{trip.haveInvoice ? 'Si' : 'No'}}
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="expenses distancia">
                                                <span class="light">
                                                    <i class="feather icon-map-pin"></i>
                                                    Distancia:
                                                </span>
                                                <span class="value">
                                                    {{trip.traveledDistance}} Kms
                                                </span>
                                            </span>
                                        </div>
                                        <!--<div class="col-md-4">
                                            <span class="expenses costo">
                                                <span class="light">
                                                    <i class="feather icon-dollar-sign"></i>
                                                    Costo del por Km:
                                                </span>
                                                <span class="value">

                                                    {{trip.tripCostPerKm | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}

                                                </span>
                                            </span>
                                        </div>-->

                                        <div class="col-md-4">
                                            <span class="expenses hospedaje">
                                                <span class="light">
                                                    <i class="feather icon-home"></i>
                                                    Hospedaje:
                                                </span>
                                                <span class="value">
                                                    {{trip.haveLodgement ? 'Si' : 'No'}}
                                                </span>
                                            </span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="collapse"
                                 id="public-lodgement-collapse-{{$index}}">

                                <h3 class="title title--margin-2 title--margin-top" ng-show="trip.haveInvoice">
                                    Factura:
                                </h3>
                                <div class="city" ng-show="trip.haveInvoice">
                                    <div class="test">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-package"></i>
                                                        Suplidor:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.invoice.supplier}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        RNC:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.invoice.rnc}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        NCF:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.invoice.ncf}}
                                                    </span>
                                                </span>
                                            </div>

                                            <div class="col-md-4">

                                                <span class="expenses costo">
                                                    <span class="light">
                                                        <i class="feather icon-dollar-sign"></i>
                                                        Costo:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.tripCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                    </span>
                                                </span>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <h3 class="title title--margin-2 title--margin-top" ng-show="trip.haveLodgement">
                                    Hospedaje:
                                </h3>
                                <div class="city" ng-show="trip.haveLodgement">
                                    <div class="test">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-home"></i>
                                                        Tipo de Hospedaje:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementType}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-info"></i>
                                                        Nombre de Hospedaje:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementName}}
                                                    </span>
                                                </span>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-moon"></i>
                                                        Cantidad de noches:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementDaysQuantity}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses costo">
                                                    <span class="light">
                                                        <i class="feather icon-dollar-sign"></i>
                                                        Costo por Noche:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses costo">
                                                    <span class="light">
                                                        <i class="feather icon-dollar-sign"></i>
                                                        Costo Total:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.lodgementTotalCost | currency: transport.expenseRepository.expenseRequest.request.currency + '$'}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-package"></i>
                                                        Suplidor:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.invoice.supplier}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        RNC:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.invoice.rnc}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="expenses fecha">
                                                    <span class="light light--flex-fix">
                                                        <i class="feather icon-file-text"></i>
                                                        NCF:
                                                    </span>
                                                    <span class="value">
                                                        {{trip.lodgement.invoice.ncf}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!--PRIVATE COMPONENTS-->
<trip-modal-component trip-dates-on-conflict="transport.context.tripDatesOnConflict"
                      lodgement-types="transport.context.lodgementTypes"></trip-modal-component>
<vehicle-modal-component all-vehicles-have-logical-deleted="transport.context.allVehiclesHaveLogicalDeleted"
                         vehicle-types="transport.context.vehicleTypes"
                         property-types="transport.context.propertyTypes"></vehicle-modal-component>
<!--END PRIVATE COMPONENTS-->
<!--PUBLIC COMPONENTS-->

<public-trip-modal-component trip-dates-on-conflict="transport.context.tripDatesOnConflict"
                             lodgement-types="transport.context.lodgementTypes"
                             public-vehicles-type="transport.context.publicVehiclesType"></public-trip-modal-component>

<!--END PUBLIC COMPONENTS--> 