@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row">
    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <div class="col-md-12">
        <form id="profile-form" style="width: 100%" method="post">
            <h3 class="text-white mb-3">Datos de la cuenta</h3>
            <div class="row">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Username">Correo</label>
                        <input asp-for="Username" class="form-control" disabled />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Roles">Rol</label>
                        <input asp-for="Roles" class="form-control" disabled />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FullName">Nombre</label>
                        <input asp-for="FullName" class="form-control" disabled />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Genre">Genero</label>
                        <input asp-for="Genre" class="form-control" disabled />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Birthday">Cumpleaños</label>
                        <input asp-for="Birthday" class="form-control" disabled />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber">Teléfono</label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="btn btn-primary float-right mt-3">Guardar</button>
                </div>

            </div>
        </form>
        </div>

    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}